/* 
    Created on : 18/05/2018, 12:31:57
    Author     : Nando Luz
*/
body {
    background: rgb(204, 204, 204);
}
page {
    text-align: justify;
    color: black;
    font-family: areal, sans-serif;
    font-size: 10pt;
    
    padding-top: 3cm;
    padding-left: 3cm;
    padding-bottom: 2cm;
    padding-right: 2cm;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 31.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 31.7cm;
    height: 21cm;
}

.header {
    padding-top: 10px;
    text-align: center;
    border: 2px solid #ddd;
}
#assinatura table tr td{
    border: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
}
table th {
    background-color: #808080;
    color: white;
    text-align: center;
    font-size: 11pt;
}
td{
    font-size: 9pt;
}
td b{
    font-size: 10pt;
}
th,
td {
    border: 1px solid #ddd;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
@media print {
    
    body, page {
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-shadow: 0;
        padding-top: 0;
    }
    .primeirop{
         margin-top: -1.81cm;
    }
    .container-fluid{
        display: none;
    }
    #rodape{
        display: none;
    }
    table th {
        color: black;
    }
}
