/* 
    Created on : 18/05/2018, 12:31:57
    Author     : Nando Luz
*/
body {
    background: rgb(204, 204, 204);
}
page {
    text-align: justify;
    color: black;
    font-family: areal, sans-serif;
    font-size: 13pt;
    
    padding-top: 2.79cm;
    padding-left: 2.57cm;
    padding-bottom: 0.49cm;
    padding-right: 2.79cm;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
    width: 24cm;
    height: 29.7cm;
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;
}

.header {
    padding-top: 10px;
    text-align: center;
    border: 2px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 80%;
}
table th {
    background-color: #4caf50;
    color: white;
    text-align: center;
}
th,
td {
    border: 1px solid #ddd;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
@media print {
    
    body, page {
        width: 100%;
        box-shadow: 0;
        color: black;
        margin: 0;
        font-size: 17pt;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0;
        margin-top: 0cm;
        margin-left: 1.57cm;
        margin-bottom: 0.49cm;
        margin-right: 1.79cm;
        
    }
    .container-fluid{
        display: none;
    }
    #rodape{
        display: none;
    }
}
