<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--SERVLET-->
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>control.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnderecoServlet</servlet-name>
        <servlet-class>control.EnderecoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>control.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>control.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidaLogin</servlet-name>
        <servlet-class>control.ServletValidaLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/pages/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnderecoServlet</servlet-name>
        <url-pattern>/pages/gerenciar_endereco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/pages/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/pages/gerenciar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidaLogin</servlet-name>
        <url-pattern>/ServletValidaLogin.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000
        </session-timeout>
    </session-config>
</web-app>
